.board {
	display: inline-block;
	background-color : black;
    opacity : 0.2;
	position : relative;	
}

.playBtn {
	width : 0px;
	height : 0px;
	border-left : 50px solid #ffffff;
	border-top : 25px solid transparent;
	border-bottom : 25px solid transparent;
	position : absolute;
	top : calc(50% - 25px);
    left : calc(50% - 25px);
    cursor : pointer;
}

.snakeHead, .toAdd {
    border-radius : 3px;
	display : inline;
	position : absolute;
    background-color : #66f706
}

.food {
    border-radius : 50%;
	display : inline-block;
	background-color : red;
	position : absolute;
}